// fonts
$main-font: Arial;
$alt-font: Arial;

// sizes
$content-width: 1366px;
$page-header-height: 60px;
$navigation-height: 50px;

// colors
$text-color: #000;
$bg-color: #f5f6f7;
$white: #fff;
$content-box-bg: $white;
$blue-primary: #0066b2;
$blue-alt: #009dd9;
$blue-ternary: #f2fafd;
$gray-primary: #8c8f93;
$gray-light: #dbdcdd;
$active-link-color: #000;
$link-color: #6b6d6f;
$notification-color: #e21836;

$user-avatar-bg-color: #00b2bd;

// sidebar
$overlay-color: rgba(0,0,0,.25);
$sidebar-width: 360px;

$mobile-br: 768px;
