<div *ngIf="!this.loading" class="login-content">
  <form
    *ngIf="!this.failure"
    class="form"
    type="form"
    #registerForm="ngForm"
    (submit)="onSubmit(registerForm)"
  >
    <app-logo class="d-flex justify-content-center" type="form"></app-logo>

    <app-simple-input
      (getInput)="this.password1 = $event"
      label="Password1"
      type="password"
      placeholder="Password1"
      icon="Password"
      required="true"
      name="password1"
      (getInputStatus)="this.password1Status = $event"
    >
    </app-simple-input>
    <app-simple-input
      (getInput)="this.password2 = $event"
      label="Password2"
      type="password"
      placeholder="Password2"
      icon="Password"
      required="true"
      name="password2"
      (getInputStatus)="this.password2Status = $event"
    >
    </app-simple-input>
    <div class="d-flex justify-content-center">
      <app-error-message
        *ngIf="this.error"
        [message]="this.errorMessage"
      ></app-error-message>
    </div>
    <div class="btn-group">
      <input
        type="submit"
        class="btn primary"
        [disabled]="
          this.password1Status || this.password2Status || this.passwordsCheck()
        "
        value="Reset Password"
      />
    </div>
  </form>
  <div
    class="register"
    *ngIf="!this.loading && !this.failure"
    [routerLink]="['/login']"
  >
    Go to Login!
  </div>
  <div class="register" *ngIf="!this.loading && this.failure">
    {{ this.resultMessage }}
  </div>
  <!--end .form-->
</div>
<app-loading-spinner
  class="loadingSpinner"
  *ngIf="this.loading"
></app-loading-spinner>
