<div
  *ngIf="this.statut == false"
  (click)="changeStatut()"
  class="container"
  [ngStyle]="{ height: this.height }"
>
  <div
    class="content"
    [ngStyle]="{
      'background-image':
        'url(../../../assets/ingredients/' + this.icon + '.svg)'
    }"
  ></div>
  <div class="d-flex justify-content-center name">
    {{ this.capitalizeFirstLetter(this.name) }}
  </div>
</div>
<div
  *ngIf="this.statut == true"
  (click)="changeStatut()"
  class="container1"
  [ngStyle]="{ height: this.height }"
>
  <div
    class="content1"
    [ngStyle]="{
      'background-image':
        'url(../../../assets/ingredients/' + this.icon + '.svg)'
    }"
  ></div>
  <div class="d-flex justify-content-center name1">
    {{ this.capitalizeFirstLetter(this.name) }}
  </div>
</div>
