<div *ngIf="!this.loading" class="login-content">
  <form
    *ngIf="!this.success"
    class="form"
    type="form"
    #registerForm="ngForm"
    (submit)="onSubmit(registerForm)"
  >
    <app-logo class="d-flex justify-content-center" type="form"></app-logo>

    <app-simple-input
      (getInput)="this.email = $event"
      label="Email"
      type="email"
      placeholder="Email"
      icon="email"
      required="true"
      name="email"
      (getInputStatus)="this.emailStatus = $event"
    >
    </app-simple-input>

    <div class="d-flex justify-content-center">
      <app-error-message
        *ngIf="this.error"
        [message]="this.errorMessage"
      ></app-error-message>
    </div>
    <div class="btn-group">
      <input
        type="submit"
        class="btn primary"
        [disabled]="this.emailStatus"
        value="Send Email"
      />
    </div>
  </form>
  <div
    class="register"
    *ngIf="!this.loading && !this.success"
    [routerLink]="['/login']"
  >
    Go to Login!
  </div>
  <div
    class="register"
    *ngIf="!this.loading && this.success"
    [routerLink]="['/login']"
  >
    Email is sent to You
  </div>

  <!--end .form-->
</div>
<app-loading-spinner
  class="loadingSpinner"
  *ngIf="this.loading"
></app-loading-spinner>
