<div class="row">
  <div class="custom-control custom-radio mr-2">
    <input
      type="radio"
      id="currentSpecs"
      name="customRadio"
      class="custom-control-input mb-3"
      (click)="this.pageSelected.emit('currentSpecs')"
      checked
    />
    <label class="custom-control-label" for="currentSpecs">Current Specs</label>
  </div>
  <div class="custom-control custom-radio">
    <input
      type="radio"
      id="historicalSpecs"
      name="customRadio"
      class="custom-control-input"
      (click)="this.pageSelected.emit('historicalSpecs')"
    />
    <label class="custom-control-label" for="historicalSpecs"
      >Historical Specs</label
    >
  </div>
</div>
